<header>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">MILLENNIUM Foods</a>
        <a routerLink="/home"><button class="btn btn-dark">BLOG</button></a>
    </nav>
</header>

<main role="main" >

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="width: 1500px;">
            <div class="carousel-item active">
                <img  src="../../assets/WhatsApp Image 2019-12-21 at 01.25.33.jpg" role="img"
                    preserveAspectRatio="xMidYMid slice" focusable="false">

                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1>MILLENIOUM FOODS</h1>
                        <p></p>

                    </div>
                </div>
            </div>

        </div>




        <div class="container marketing" style="margin-left: 200px;">
            <br>

            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4" align="center">

                    <img src="../../assets/samba fried.jpg" style="border-radius: 80px; width:150px; height:150px;">

                    <h2>Samba Fried Rice </h2>
                    <p>This fried rice is best when paired with fish, specifically oily fish like Mackerel.</p>

                </div><!-- /.col-lg-4 -->


                <div class="col-lg-4" align="center">
                    <img src="../../assets/basmathi fried.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Basmathi Fride Rice</h2>
                    <p>This Basmati Fried Rice recipe is simply Nigerian Style Fried Recipe made with Basmati Rice as
                        opposed to
                        regular Long Grain Rice.</p>

                </div><!-- /.col-lg-4 -->


                <div class="col-lg-4" align="center">
                    <img src="../../assets/mixed.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Mixed Rice</h2>
                    <p>Mixed Fried Rice is a delicious Chinese recipe served as a Main. Find the complete instructions
                        on
                        Bawarchi.</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/biriyani.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Biriyani</h2>
                    <p>Biryani is a mixed rice dish with its origins among the Muslims of the Indian subcontinent. It
                        can be
                        compared to mixing a curry, later combining it with semi-cooked rice separately.</p>

                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4" align="center">
                    <img src="../../assets/nasi.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Nasi Goreng</h2>
                    <p>Nasi goreng, literally meaning "fried rice" in both the Indonesian and Malay languages, is an
                        Indonesian
                        rice dish with pieces of meat and vegetables added.</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/noodles.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Noodles</h2>
                    <p>Noodles are a type of food made from unleavened dough which is rolled flat and cut, stretched or
                        extruded,
                        into long strips or strings.</p>

                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/devilled chicken.jpg"
                        style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Devilled Chicken</h2>
                    <p>Season chicken with Knorr Chicken Powder Mix and crushed pepper. In a pan, melt Astra and add
                        ginger and
                        garlic.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/Devilled-Fish.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Devilled Fish</h2>
                    <p>Marinate fish with a pinch of turmeric, chili powder, pepper powder and salt. Fry till golden and
                        set
                        aside.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/pork.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Pork stew</h2>
                    <p>In a cooking pot add pork, turmeric powder, soy sauce, vinegar, ground black pepper, salt,
                        cinnamon stick,
                        and cardamom.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/prawns-00679.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Prowns</h2>
                    <p>Our prawn curry recipes combine shellfish and spices in a range of fragrant Asian dishes,
                        including creamy
                        Keralan curry and aromatic Thai laksa.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/cuttlefish.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Cuttlefish</h2>
                    <p>Sri Lankan Style Squid Curry Or Spicy Cuttlefish Recipe.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/chop-suey.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Chopsuey</h2>
                    <p>Chop suey is a dish in American Chinese cuisine and other forms of overseas Chinese cuisine,
                        consisting of
                        meat and eggs, cooked quickly with vegetables such as bean sprouts, cabbage, and celery and
                        bound in a
                        starch-thickened sauce.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/dessert.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Dessert</h2>
                    <p>Whether you crave sweet, savory, decadent or healthy, we have hundreds of top-rated dessert
                        recipes to
                        satisfy your taste buds.</p>
                </div><!-- /.col-lg-4 -->

                <div class="col-lg-4" align="center">
                    <img src="../../assets/soft-drinks.jpg" style="border-radius: 80px; width:150px; height:150px;">
                    <h2>Beverages</h2>
                    <p>Find the great collection of beverages recipes and dishes from popular varity.</p>
                </div><!-- /.col-lg-4 -->

            </div><!-- /.row -->




            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">Featured meals : <span class="text-muted">Mix Rice</span>
                    </h2>
                    <p class="lead">Red or White rice mixed with seafoods,slices of sausages, greenpeace,sliced
                        vegitables and
                        nuts. </p>
                </div>
                <div class="col-md-5">

                    <img src="../../assets/bmlm0f8r-720.jpg" style="border-radius: 0px; width: 450px; height: 400px;">

                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7 order-md-2">
                    <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for
                            yourself.</span></h2>
                    <p class="lead">Best restaurant with the better customer service to provide better experience.</p>
                </div>
                <div class="col-md-5 order-md-1">
                    <img src="../../assets/pexels-photo-262978.jpeg"
                        style="border-radius: 0px; width: 450px; height: 400px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <div class="row featurette">
                <div class="col-md-7">
                    <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Why shoul
                            choose.</span></h2>
                    <p class="lead">Variese of food items, best customer service, quility foods, fair price range</p>
                </div>
                <div class="col-md-5">
                    <img src="../../assets/unnamed.png" style="border-radius: 0px; width: 450px; height: 400px;">
                </div>
            </div>

            <hr class="featurette-divider">

            <!-- /END THE FEATURETTES -->

        </div>

        <footer class="pt-4 my-md-5 pt-md-5 border-top">
            <div class="row">
                <div class="col-12 col-md">
                    <img class="mb-2" src="/docs/4.4/assets/brand/bootstrap-solid.svg" alt="" width="24" height="24">
                    <small class="d-block mb-3 text-muted">&nbsp;&copy; 2017-2019</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Best foods</a></li>
                        <li><a class="text-muted" href="#">good customer service</a></li>
                        <li><a class="text-muted" href="#">Varity of items</a></li>
                        <li><a class="text-muted" href="#">Bevareges</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">Resource</a></li>
                        <li><a class="text-muted" href="#">Resource name</a></li>
                        <li><a class="text-muted" href="#">Another resource</a></li>
                        <li><a class="text-muted" href="#">Final resource</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="#">No 266, Bandaranayaka Mw,Katubedda, Moratuwa</a></li>
                        <li><a class="text-muted" href="#">077 9777557</a></li>
                        <li><a class="text-muted" href="#">FB : Millenium foods</a></li>
                        <li><a class="text-muted" href="#"></a></li>
                    </ul>
                </div>
            </div>
        </footer>